<!DOCTYPE html>
<html>
  <head>
    <title>BingeFlix</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300|Ramabhadra|Roboto:300" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
