<!DOCTYPE html>
<html>
  <head>
    <title>BingeFlix</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Ramabhadra|Roboto:400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </head>

  <body>
    <%= yield %>
      <!-- <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
      poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
        <source src="MY_VIDEO.mp4" type='video/mp4'>
        <source src="MY_VIDEO.webm" type='video/webm'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video> -->

      <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
  </body>
</html>
