<!DOCTYPE html>
<html>
  <head>
    <title>BingeFlix</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Ramabhadra|Roboto:400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
